@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot') format('eot'),
     url('../fonts/BYekan.ttf') format('ttf'),
     url('../fonts/BYekan.woff') format('woff');
    font-weight: normal;
}
